body{
    font-family: 'Lato', sans-serif;
}

.header{  /*engloba wraper */
    background: url(../images/reprograma/header.png) no-repeat top center / cover;
    /* url(../images/reprograma/header.png) -- caminho da imagem
    no-repeat -- a imagem não se repete
    
    top center /cover ou 100% -- onde vai ficar a imagem  / 
    ocupa todo o espaço do container  -- a barra / é importante pôr. */
    padding: 40px 80px;
    height: 730px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.wraper{ /*engloba imagem e nav , menu */
    justify-content: space-between;
    display: flex;
    position: fixed;
    border: 2px solid green;
}

.nav {  /*engloba o <ul> (menu) */
    
}

.menu { /* engloba cada item da lista <li> */
    display: flex;
}

.menu__item { /*engloba o link do <li> */
    margin: 0px 12px;
    padding: 8px;
}

.menu__item__link {  
    font-size: 21px;
    text-decoration: none;
    color: #0f0;
}

.text { /* engloba "pai" h1 e p */
    color: #fff;
    width: 500px;
    margin-top: auto;
}

.text__title { /* irmão do text__subtitle - <p> */
    font-size: 72px;
}

.text__subtitle { /* irmão do text__title - <h1> */
    font-size: 24px;
    width: 400px;
    margin-bottom: 34px;
}

.btn {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 45px;
    display: inline-block;
    border-radius: 28px;
    text-decoration: none;
}

.btn__primary {
    background: #fff;
    color: #7E459B;
    margin-right: 22px;
}

.btn__secundary {
    color: #fff;
    background:rgba(0,0,0,0);
    border: 2px solid #fff;
} 


.box__icons {
    margin: 0x 60px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
     
}

.box {
    width: 360px;
}

.box--right {
    margin-left: auto;

}


.box__text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

.purple {
    background-color: #debbdd;
}

.box__info {
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;

    
}

.box__info__title {
    color: #B382BA;
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    line-height: 85px;
    letter-spacing: 0.625px;
    width: 400px;
    height: auto;
    
}

.box__info__paragraph {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.166667px;
    line-height: 35px;
    width: 300px;
    height: auto;
}

.box__datas {
    display: flex;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;

}

.box__data {
    text-align: center;
    width: auto;
    height: auto;
}

.box__data__title {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    line-height: 85px;
    font-size: 90px;
    letter-spacing: 0.625px;
    color: #892d9c;
    width: auto;
    height: auto;
}

.box__data__paragraph {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    line-height: 35px;
    font-size: 24px;
    letter-spacing: 0.166667px;  
    width: auto;
    height: auto;  
}